
.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    font-size: 22px;
    color: #808080;
}

.content p {
    margin: 40px 0 0 0;
}