.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    font-size: 22px;
    line-height: 140%;
    color: #808080;
}

.content p {
    margin-top: 48px;
}

@media screen and (max-width: 500px) {
    .content {
        margin: 40px 0;
        font-size: 15px;
    }
    .content img {
        height: 60px;
        width: 60px;
    }
    .content p {
        margin-top: 10px;
    }
}