.main {
    font-size: 22px;
    color: #808080;
    background: #E5E5E5;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    margin: 16px 41px 16px 41px;
    width: 95%;
}

._main {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}