.main {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: #808080;
}

.container {
    display: flex;
    margin: 16px 36px;
    width: 95%;
}

@media screen and (max-width: 815px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    .container {
        flex-direction: column;
        font-size: 18px;
        margin: 0;
        gap: 20px;
    }
}